<h1>HOSPITAL HOME</h1>
<h2>LISTADO DE MEDICOS</h2>
<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Persona</th>
      <th>Medico</th>
      <th>Consultorio</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    {{#each citas}}
      <tr>
        <td>{{formatearFecha fecha}}</td>
        <td>{{persona}}</td>
        <td>{{medico}}</td>
        <td>{{consultorio}}</td>
        <td>
          <a class="eliminar" href="/citas/eliminar/{{id}}">Eliminar</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
<div class="opciones-tabla">
  <a class="volver" href="/">Volver</a>
  <a href="/citas/agregar-cita">Nueva cita</a>
</div>