<h1>HOSPITAL HOME</h1>
<h2>LISTADO DE PERSONAS</h2>
<table>
    <thead>
        <tr>
            <th>Nombres de la persona</th>
            <th>Apellidos</th>
            <th>Cédula</th>
            <th>Edad</th>
            <th>Teléfono</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        {{#each personas}}
        <tr>
            <form action="/personas/actualizar/{{id}}" method="post">
                <td><input id="nombres" name="nombres" value="{{nombres}}" {{../opcion}}></td>
                <td><input id="apellido" name="apellido" value="{{apellidos}}" {{../opcion}}>
                </td>
                <td><input id="cedula" value="{{id}}" disabled></td>
                <td><input id="edad" name="edad" value="{{edad}}" {{../opcion}}></td>
                <td><input id="telefono" name="telefono" value="{{telefono}}" {{../opcion}}></td>
                <td>
                {{#if ../estado}}
                    <a class="eliminar" href="/personas/eliminar/{{id}}">Eliminar</a><br><br>
                    <a class="editar" href="/personas/activar">Editar</a>
                {{else}}
                    <input type="submit" value="Enviar">
                {{/if}}
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>
<div class="opciones-tabla">
<a class="volver" href="/">Volver</a>
<a href="/personas/agregar-persona">Agregar persona</a>
</div>